:root {
  --font-base: 'Segoe UI', sans-serif; // theme font

  // theme colors
  --background-color: rgb(244, 244, 244);
  --white-color: #ffffff;
  --black-color: #000000;
  --lightGray-color: rgba(0, 0, 0, 0.75);
  --darkGray-color: rgba(0, 0, 0, 0.85);
  --font-color: #333;
  --border-color: #ddd;
  --shadow-color: rgba(0, 0, 0, 0.25);

  // Font sizes
  --paragraphText-size: 1.2rem;
  --smallText-size: 1rem;
}

* {
  box-sizing: border-box;
  -webkit-tap-highlight-color: transparent;
  font-family: var(--font-base), 'sans-serif';
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

body {
  padding: 0;
  margin: 0;
  background: var(--background-color);
  color: var(--font-color);
}

p {
  font-size: var(--paragraphText-size);
}

small {
  font-size: var(--smallText-size);
}

.container {
  margin: 0 auto;
  max-width: 1000px;
  padding: 20px;
}
